<h1>BCI Challenge</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
  <h2 class="form-title">Registro de producto</h2>

  <div class="form-grid">
    <mat-form-field appearance="fill" class="textarea-field">
      <mat-label>Titulo</mat-label>
      <textarea
        matInput
        formControlName="title"
        rows="2"
        placeholder="Enter product title"
      >
      </textarea>
      <mat-error
        *ngIf="titleControl?.errors?.['required'] && titleControl?.touched"
      >
        El título es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="currency">
        <mat-option
          *ngFor="let currency of currencies"
          [value]="currency.value"
        >
          {{ currency.label }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="currencyControl?.errors?.['required'] && currencyControl?.touched"
      >
        La moneda es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Precio</mat-label>
      <input
        matInput
        type="number"
        formControlName="price"
        step="0.01"
        min="0"
        placeholder="0.00"
      />
      <mat-error
        *ngIf="priceControl?.errors?.['required'] && priceControl?.touched"
      >
        El precio es requerido
      </mat-error>
      <mat-error *ngIf="priceControl?.errors?.['min'] && priceControl?.touched">
        El precio debe ser mayor a 0
      </mat-error>
    </mat-form-field>

    <div class="checkbox-field">
      <mat-checkbox formControlName="isPrime"> Envío Premium </mat-checkbox>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
    >
      Guardar
    </button>
  </div>
</form>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Title Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Currency Column -->
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef>Moneda</th>
      <td mat-cell *matCellDef="let element">
        {{ getCurrencyLabel(element.currency) }}
      </td>
    </ng-container>

    <!-- Is Prime Column -->
    <ng-container matColumnDef="isPrime">
      <th mat-header-cell *matHeaderCellDef>Envío Premium</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.isPrime">check</mat-icon>
        <mat-icon *ngIf="!element.isPrime">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Acciones"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
